.grid {
    padding: 16px;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-template-rows: 450px;
    min-height: calc(100vh - 160px);
}

@media (min-width: 2200px) {
    .grid {
        grid-template-columns: repeat(6, 350px);
    }
}
